*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: rgb(241, 19, 149);
    margin-left: 700px;
}
body{
    background-color: rgb(255, 182, 194);
    padding: 16px;
}

header{
    margin-left: 750px;
    margin-top: 10px;
}
.galeria{
    margin-top: 30px;
    columns: 5;
}

button.pesquisar{
    color: rgb(240, 93, 117);
    font-size: 20px;
    margin-left: 40px;
}

img{
    width: 100%;
    margin-block: 8px;
}